[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "curve-dex/lib/forge-std"]
	path = curve-dex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "curve-dex/lib/openzeppelin-contracts"]
	path = curve-dex/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
